# Étape 1 : Construction (Compilation du JAR)
FROM gradle:8.5-jdk21 AS builder
WORKDIR /app
COPY . .
RUN ./gradlew jar --no-daemon

# Étape 2 : Exécution (Image finale légère)
FROM eclipse-temurin:21-jre-jammy
WORKDIR /app
# On récupère le JAR généré à l'étape 1
COPY --from=builder /app/build/libs/*.jar app.jar

# Commande de lancement
ENTRYPOINT ["java", "-jar", "app.jar"]